<link rel="stylesheet" type="text/css" href="{{asset "css/hero.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "css/hero-secondary.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "css/card.css"}}" />

{{!< default}}

<main>
    {{#author}}
        {{> "components/hero" type="author" feature_image=profile_image title=name description=bio}}    
    {{/author}}

    <span class="hidden" id="author-data" data-posts="{{plural pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}"></span>

    <section class="light-background latest-posts section-padding no-padding-bottom{{#if @custom.use_page_load_animations}} hidden-animation{{/if}}">
        <div class="wide-container">
            <div class="section-header">
                <div class="subtitle-text">{{t "Latest posts"}}</div>
                <div class="subtitle-line"></div>
            </div>
            <div class="grid pagination-grid">
                {{#foreach posts}}
                    {{> "components/card" }}
                {{/foreach}}
            </div>
            {{pagination}}  
        </div>        
    </section> 
</main>

<script>
    setAuthorPostNumber();
</script>