<div class="global-notifications">
    <div class="notification subscribe-false">
        {{> "icons/error-icon" }}
        <small>{{t "Your link has expired. Please request a new one."}}</small>
    </div>
    <div class="notification signup-false">
        {{> "icons/error-icon" }}
        <small>{{t "Your link has expired. Please request a new one."}}</small>
    </div>
    <div class="notification signin-false">
        {{> "icons/error-icon" }}
        <small>{{t "Your link has expired. Please request a new one."}}</small>
    </div>
    <div class="notification subscribe-true">
        {{> "icons/success-icon" }}
        <small>{{t "Great! You've successfully signed up."}}</small>
    </div>
    <div class="notification signup-true">
        {{> "icons/success-icon" }}
        <small>{{t "Great! You've successfully signed up."}}</small>
    </div>
    <div class="notification signin-true">
        {{> "icons/success-icon" }}
        <small>{{t "Welcome back! You've successfully signed in."}}</small>
    </div>
    <div class="notification stripe-success">
        {{> "icons/success-icon" }}
        <small>{{t "Success! You now have access to additional content."}}</small>
    </div>
</div>